*{
	list-style: none;
	padding:0px;
	margin:0px;
}
.menu a {
	color: #8aa4af;
	padding: 6px 0px;
	display: inline-block;
}
.Topmenu h4 a{
	color: white;
	border-color: #ddd;
}
.Topmenu h4{
	cursor: pointer;
	border-top-color: #ddd;
	padding:8px 0px;
	margin:0px;
}
.Topmenu ul li{
	background-color: #2c3b41;
	cursor: pointer;
	padding:4px 0px;
}

.Topmenu ul li:hover>a{
	color: white;
}
.parentmenu{
	border-left: 3px solid transparent;
}
.parentmenu:hover{
	border-left-color: #3c8dbc;
	background-color:black;
}
.son{
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.hoveMenu{
	background-color:black;
}
.menuBlack{
	background-color:#2c3b41;
}
.bg1{
	background-color:rgb(34, 45, 50);
}